@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Karla:wght@500;800&family=Poppins:wght@100;200;300;400;600;700&display=swap');

* {
    margin: 0;
}
body {
    background-color: #1F2937;
    overflow-x: hidden;
}
.container {
    display: flex;
    justify-content: center;
    margin-top: 86px;
    margin-left: 116px;
    margin-right: 79.84px;
}
h1 {
    font-size: 48px;
    font-family: 'Karla';
    font-weight: 800;
    line-height: 40px;
    letter-spacing: -0.025em;
    color: #FFFFFF;
    padding-bottom: 16px;
}
.h1-span {
    color: #4ADF86;
}
.subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #D5D4D8;
    padding-bottom: 39px;
}
button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
    background: #10B981;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    border-color: transparent;
    /*positioning*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 17px 9px 15px;
    gap: 12px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.sct-2-p1 {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: -0.025em;
    color: #FFFFFF;
    padding-bottom: 10px;
}
.section-3 {
    display: flex;
}
.box1, .box2 {
    width: 211px;
    height: 39px;
    background: #273549;
    border-radius: 6px;
}
.box1 {
    margin-right: 24px;
}
.line1 {
    width: 446px;
    height: 0px;
    border: 1px solid #2F3E53;
    margin-top: 38px;
    margin-bottom: 15px;
}
.line2 {
    width: 446px;
    height: 0px;
    border: 1px solid #2F3E53;
    margin-top: 15px;
    margin-bottom: 38px;
}
.password1, .password2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #55F991;
    text-align: center;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
}
#input-line {
    font-family: 'Inter';
    font-style: normal;
    font-size: 15px;
    color: #55F991;
    width: 30px;
    background-color: transparent;
    border: transparent;
    border-bottom: 2px solid #4adf8648;
    margin-bottom: 13px;
}
#input-line:focus{
    outline-style: none;
    border-bottom: 2px solid #4adf86bd;
    transition: 0.5s;
}
.form{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #D5D4D8;
    display: flex;
}
input[type="checkbox"]{
    appearance: none;
    height: 21px;
    width: 21px;
    cursor: pointer;
    border: #4ADF86 solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}
input[type="checkbox"]:after{
    font-family: 'Font Awesome 5 Free';
    content: "\f00c";
    font-weight: 1000;
    font-size: 15px;
    color: #4ADF86;
    display: none;
}
input[type="checkbox"]:checked:after{
    display: block;
}
#copy {
    visibility: hidden;
    appearance: none;
    position: absolute;
}
.formg {
    display: flex;
}
label {
    padding-left: 7px;
    padding-right: 29px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
@media(max-width: 428px){
    * {
        overflow-x: hidden;
    }
    #copy {
        visibility: visible;
        position: static;
    }
    .hero-img {
        width: 365px;
        height: 279px;
        display: flex;
        justify-content: center;
        margin-top: 5px;
    }
    .container {
        display: block;
        margin-left: 31px;
        margin-right: 31px;
        margin-top: 0px;
    }
    h1 {
        font-size: 34px;
    }
    .subtitle {
        font-size: 16px;
    }
    button {
        font-size: 16px;
        width: 195px;
        height: 42px;
        overflow-y: hidden;
    }
    .form {
        display: block;
        padding-right: 10px;
    }
    .formg {
        display: flex;
    }
    label {
        padding-left: 20px;
        padding-bottom: 0px;
    }
    #input-line {
        margin-left: 14px;
    }
    #original {
        visibility: hidden;
        display: none;
    }
    .sct-2-p1 {
        font-size: 20px;
    }
    label {
        font-size: 15px;
    }
    input[type="checkbox"]{
        appearance: none;
        height: 16px;
        width: 16px;
    }
    input[type="checkbox"]:after{
        font-family: 'Font Awesome 5 Free';
        content: "\f00c";
        font-weight: 1000;
        font-size: 8px;
        color: #4ADF86;
        display: none;
    }
    input {
        margin-top: 5px;
    }
    #input-line{
        margin-top: 1px;
        margin-left: -10px;
    }
    .password1, .password2 {
        font-size: 15px;
    }
    .box1, .box2{
        margin-bottom: 30px;
    }
}
@media(max-width: 360px){
    .hero-img{
        width: 310px;
        height: 225px;
    }
}
@media(max-width: 375px){
    .hero-img{
        width: 317px;
        height: 220px;
    }
}
@media(max-width: 390px){
    .hero-img{
        width: 340px;
        height: 225px;
    }
}